node_modules/
.envfrantett_backup.dump
.env
env
frantett_backup.dump
frantett_newpc_before_restore.dump
frantett_before_doctor_code.dump

backup/
database-backup/

database-backups/

# Local database backups
BACKUPS/

# FranTett database backups
*.dump
*.backup
